body{
font-family: 'Permanent Marker', cursive;
font-family: 'Caveat', cursive;
font-family: 'Rajdhani', sans-serif;
background-color: #ffffff;
}
.navbar{
  background-color: #12A97E;
  color:#373a3c;
}
hr{
  color:#ffffff;
  width: 30rem;
}
.hero-section{
  font-family: 'Caveat', cursive;
  background-image: url('../img/imagen-principal.png');
  background-repeat: no-repeat;
  background-size:contain;100%;
  text-align: center;
  margin-top: 1rem;
  padding:80px 250px 650px 250px;
  color:#ffffff;
}
h1{
  font-size: 5rem;
  text-align: center;
}
h2{
  color:#000000;
  text-align: center;
}
h3{
  text-align: center;
}
.card-text{
  text-align: justify;
}
.experiencia{
  text-align: center;
  padding-left:0;
}
.oscuro{
  color:#000000;
  text-align: center;
}
.fa-music{
  font-size:3.5rem;
}
.fa-camera-retro{
  font-size: 3.5rem;
}
.ultimos-trabajos{
  background-color:#12A97E;
  height: 55rem;
}
footer{
  background-color:#12A97E;
  color: #ffffff;
}
.btn{
  margin-left: 39rem;
}
.row{
  display: flex;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
  padding-left: 6rem;
}
.redes-sociales{
  text-decoration-color: #ffffff;
}
